In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from pprint import pprint

In [2]:
aa_data = pd.read_csv('AAdatabase.csv')

In [3]:
aa_data.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [4]:
aa_data = aa_data.fillna('Nominee')
aa_data = aa_data.replace({'Winner':{1:'Winner'}})
aa_data = aa_data.rename(columns={'Winner':'Result'})
aa_data = aa_data.drop('Year',axis=1)

In [5]:
aa_data.head()

   Ceremony    Award   Result                 Name              Film
0         1    Actor  Nominee  Richard Barthelmess         The Noose
1         1    Actor   Winner        Emil Jannings  The Last Command
2         1  Actress  Nominee       Louise Dresser   A Ship Comes In
3         1  Actress   Winner         Janet Gaynor        7th Heaven
4         1  Actress  Nominee       Gloria Swanson    Sadie Thompson

---

In [6]:
x = aa_data.to_json(path_or_buf='AA.json',orient='index')

In [7]:
pd.read_json('AA.json').transpose()

,Award,Ceremony,Film,Name,Result
0,Actor,1,The Noose,Richard Barthelmess,Nominee
1,Actor,1,The Last Command,Emil Jannings,Winner
10,Cinematography,1,Sunrise,Karl Struss,Winner
100,Outstanding Production,3,Universal,All Quiet on the Western Front,Winner
1000,Music (Original Score),13,Roy Webb,My Favorite Wife,Nominee
1001,Music (Original Score),13,Victor Young,North West Mounted Police,Nominee
1002,Music (Original Score),13,Werner Heymann,One Million B.C.,Nominee
1003,Music (Original Score),13,Aaron Copland,Our Town,Nominee
1004,Music (Original Score),13,"Leigh Harline, Paul J. Smith, Ned Washington",Pinocchio,Winner
1005,Music (Original Score),13,Franz Waxman,Rebecca,Nominee
1006,Music (Original Score),13,Miklos Rozsa,The Thief of Bagdad,Nominee
1007,Music (Original Score),13,Herbert Stothart,Waterloo Bridge,Nominee
1008,Music (Scoring),13,Victor Young,"Arise, My Love",Nominee
1009,Music (Scoring),13,Cy Feuer,Hit Parade of 1941,Nominee
101,Outstanding Production,3,Cosmopolitan,The Big House,Nominee
1010,Music (Scoring),13,Anthony Collins,Irene,Nominee
1011,Music (Scoring),13,Aaron Copland,Our Town,Nominee
1012,Music (Scoring),13,Erich Wolfgang Korngold,The Sea Hawk,Nominee
1013,Music (Scoring),13,Artie Shaw,Second Chorus,Nominee
1014,Music (Scoring),13,Charles Previn,Spring Parade,Nominee
1015,Music (Scoring),13,"Roger Edens, Georgie Stoll",Strike Up the Band,Nominee
1016,Music (Scoring),13,Alfred Newman,Tin Pan Alley,Winner
1017,Music (Song),13,Music by Harry Warren; Lyrics by Mack Gordon,"""Down Argentina Way"" from Down Argentine Way",Nominee
1018,Music (Song),13,Music by Jimmy McHugh; Lyrics by Johnny Mercer,"""I'd Know You Anywhere"" from You'll Find Out",Nominee
1019,Music (Song),13,Music and Lyrics by Chet Forrest and Bob Wright,"""It's A Blue World"" from Music in My Heart",Nominee
102,Outstanding Production,3,Warner Brothers,Disraeli,Nominee
1020,Music (Song),13,Music by Artie Shaw; Lyrics by Johnny Mercer,"""Love Of My Life"" from Second Chorus",Nominee
1021,Music (Song),13,Music by James Monaco; Lyrics by John Burke,"""Only Forever"" from Rhythm on the River",Nominee
1022,Music (Song),13,Music and Lyrics by Roger Edens and Arthur Freed,"""Our Love Affair"" from Strike Up the Band",Nominee
1023,Music (Song),13,Music by Robert Stolz; Lyrics by Gus Kahn,"""Waltzing In The Clouds"" from Spring Parade",Nominee
...,...,...,...,...,...
994,Music (Original Score),13,Meredith Willson,The Great Dictator,Nominee
9940,Sound Editing,88,Matthew Wood and David Acord,Star Wars: The Force Awakens,Nominee
9941,Sound Mixing,88,"Andy Nelson, Gary Rydstrom and Drew Kunin",Bridge of Spies,Nominee
9942,Sound Mixing,88,"Chris Jenkins, Gregg Rudloff and Ben Osmo",Mad Max: Fury Road,Winner
9943,Sound Mixing,88,"Paul Massey, Mark Taylor and Mac Ruth",The Martian,Nominee
9944,Sound Mixing,88,"Jon Taylor, Frank A. Montaño, Randy Thom and C...",The Revenant,Nominee
9945,Sound Mixing,88,"Andy Nelson, Christopher Scarabosio and Stuart...",Star Wars: The Force Awakens,Nominee
9946,Visual Effects,88,"Andrew Whitehurst, Paul Norris, Mark Ardington...",Ex Machina,Winner
9947,Visual Effects,88,"Andrew Jackson, Tom Wood, Dan Oliver and Andy ...",Mad Max: Fury Road,Nominee
9948,Visual Effects,88,"Richard Stammers, Anders Langlands, Chris Lawr...",The Martian,Nominee
9949,Visual Effects,88,"Rich McBride, Matthew Shumway, Jason Smith and...",The Revenant,Nominee
995,Music (Original Score),13,Frank Skinner,The House of the Seven Gables,Nominee
9950,Visual Effects,88,"Roger Guyett, Patrick Tubach, Neal Scanlan and...",Star Wars: The Force Awakens,Nominee
9951,Writing (Adapted Screenplay),88,Screenplay by Charles Randolph and Adam McKay,The Big Short,Winner
9952,Writing (Adapted Screenplay),88,Screenplay by Nick Hornby,Brooklyn,Nominee
9953,Writing (Adapted Screenplay),88,Screenplay by Phyllis Nagy,Carol,Nominee
9954,Writing (Adapted Screenplay),88,Screenplay by Drew Goddard,The Martian,Nominee
9955,Writing (Adapted Screenplay),88,Screenplay by Emma Donoghue,Room,Nominee
9956,Writing (Original Screenplay),88,Written by Matt Charman and Ethan Coen & Joel ...,Bridge of Spies,Nominee
9957,Writing (Original Screenplay),88,Written by Alex Garland,Ex Machina,Nominee
9958,Writing (Original Screenplay),88,"Screenplay by Pete Docter, Meg LeFauve, Josh C...",Inside Out,Nominee
9959,Writing (Original Screenplay),88,Written by Josh Singer & Tom McCarthy,Spotlight,Winner
996,Music (Original Score),13,Richard Hageman,The Howards of Virginia,Nominee
9960,Writing (Original Screenplay),88,Screenplay by Jonathan Herman and Andrea Berlo...,Straight Outta Compton,Nominee
9961,Jean Hersholt Humanitarian Award,88,Nominee,Debbie Reynolds,Winner
9962,Honorary Award,88,Nominee,Spike Lee,Winner
9963,Honorary Award,88,Nominee,Gena Rowlands,Winner
997,Music (Original Score),13,Max Steiner,The Letter,Nominee
998,Music (Original Score),13,Richard Hageman,The Long Voyage Home,Nominee
999,Music (Original Score),13,Alfred Newman,The Mark of Zorro,Nominee

In [8]:
meta = pd.read_csv('movies_metadata.csv')
kw = pd.read_csv('keywords.csv')
meta = meta[meta['id'].str.contains('-') == False]
meta['id'] = pd.to_numeric(meta['id'])

In [9]:
combined = kw.merge(meta,how='inner',on='id')

In [10]:
combined

,id,keywords,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...",False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0113277,en,Heat,...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,11860,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...",False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0114319,en,Sabrina,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,45325,[],False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0112302,en,Tom and Huck,...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...",False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0114576,en,Sudden Death,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,tt0113189,en,GoldenEye,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,9087,"[{'id': 833, 'name': 'white house'}, {'id': 84...",False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0112346,en,The American President,...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,12110,"[{'id': 3633, 'name': 'dracula'}, {'id': 11931...",False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,tt0112896,en,Dracula: Dead and Loving It,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,21032,"[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...",False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,tt0112453,en,Balto,...,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,10858,"[{'id': 840, 'name': 'usa president'}, {'id': ...",False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,tt0113987,en,Nixon,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...",False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0112760,en,Cutthroat Island,...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,524,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...",False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0112641,en,Casino,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...",False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0114388,en,Sense and Sensibility,...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...",False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0113101,en,Four Rooms,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,9273,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...",False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0112281,en,Ace Ventura: When Nature Calls,...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,11517,"[{'id': 380, 'name': 'brother brother relation...",False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0113845,en,Money Train,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,8012,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ...",False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,tt0113161,en,Get Shorty,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
21,1710,"[{'id': 796, 'name': 'police brutality'}, {'id...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt0112722,en,Copycat,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,9691,"[{'id': 271, 'name': 'competition'}, {'id': 44...",False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0112401,en,Assassins,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
23,12665,"[{'id': 7345, 'name': 'dead animal'}, {'id': 1...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,tt0114168,en,Powder,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,451,"[{'id': 30, 'name': 'individual'}, {'id': 549,...",False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,tt0113627,en,Leaving Las Vegas,...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
25,16420,"[{'id': 497, 'name': 'shakespeare'}, {'id': 93...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0114057,en,Othello,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,9263,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, '...",False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114011,en,Now and Then,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,17015,"[{'id': 1316, 'name': 'captain'}, {'id': 33384...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0114117,en,Persuasion,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,902,"[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...",False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,tt0112682,fr,La Cité des Enfants Perdus,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
29,37557,"[{'id': 964, 'name': 'servant'}, {'id': 2311, ...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0115012,zh,摇啊摇，摇到外婆桥,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46452,45527,[],False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,tt1331329,en,The Final Storm,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
46453,455661,"[{'id': 9673, 'name': 'love'}, {'id': 13130, '...",False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,tt6969946,en,In a Heartbeat,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
46454,327237,"[{'id': 5565, 'name': 'biography'}, {'id': 102...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt3814486,nl,"Bloed, Zweet en Tranen",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
46455,84710,"[{'id': 208422, 'name': 'paula dupree'}]",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,tt0036975,en,Jungle Woman,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
46456,39562,"[{'id': 2064, 'name': 'overweight'}, {'id': 10...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,tt0889600,en,To Be Fat Like Me,...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
46457,14008,"[{'id': 171803, 'name': 'military school'}]",False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0294425,en,Cadet Kelly,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
46458,44330,"[{'id': 169590, 'name': 'police raid'}]",False,NaN,0,[],NaN,tt0135690,en,Le tripot clandestin,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
46459,49279,"[{'id': 10124, 'name': 'laboratory'}, {'id': 1...",False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,tt0000359,fr,L'Homme à la tête de caoutchouc,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
46460,44333,"[{'id': 2343, 'name': 'magic'}, {'id': 154802,...",False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,tt0135179,fr,Les cartes vivantes,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
46461,49277,"[{'id': 154802, 'name': 'silent film'}, {'id':...",False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,tt0135122,en,Les affiches en goguette,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
46462,49271,"[{'id': 11320, 'name': 'tenant'}, {'id': 15480...",False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,tt0127948,en,Le locataire diabolique,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
46463,44324,[],False,NaN,0,[],NaN,tt0135631,fr,Le Roi du maquillage,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
46464,122036,[],False,NaN,0,[],NaN,tt0224286,fr,Les Transmutations imperceptibles,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
46465,14885,"[{'id': 3335, 'name': 'halloween'}, {'id': 193...",False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,tt0457437,en,Pooh's Heffalump Halloween Movie,...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
46466,49280,[],False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,tt0135453,fr,L'Homme orchestre,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
46467,106807,"[{'id': 5970, 'name': 'wrestling'}, {'id': 607...",False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,tt0135571,fr,Nouvelles luttes extravagantes,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
46468,276895,[],False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt3054038,en,Deep Hearts,...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
46469,404604,"[{'id': 155794, 'name': 'physical abuse'}, {'i...",False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt5690142,hi,Maa,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
46470,420346,[],False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt4130180,en,The Morning After,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
46471,67179,[],False,NaN,0,[],NaN,tt0069215,it,San Michele aveva un gallo,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
46472,84419,"[{'id': 9748, 'name': 'revenge'}, {'id': 9826,...",False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,tt0038621,en,House of Horrors,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
46473,390959,"[{'id': 224180, 'name': 'blair witch'}]",False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,tt0265736,en,Shadow of the Blair Witch,...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
46474,289923,"[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n...",False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,tt0252966,en,The Burkittsville 7,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
46475,222848,[],False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,tt0112613,en,Caged Heat 3000,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
46476,30840,[],False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt0102797,en,Robin Hood,...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
46477,439050,"[{'id': 10703, 'name': 'tragic love'}]",False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,fa,رگ خواب,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
46478,111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...",False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,tl,Siglo ng Pagluluwal,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
46479,67758,[],False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,en,Betrayal,...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
46480,227506,[],False,NaN,0,[],NaN,tt0008536,en,Satana likuyushchiy,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
46481,461257,[],False,NaN,0,[],NaN,tt6980792,en,Queerama,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0